* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 1.43;
  background-color: #fff;
  color: #29303b;
}

a {
  text-decoration: none;
}

.navBar {
  -webkit-box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1);
          box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1);
  -webkit-box-shadow: 0 3px 1px 0 rgba(20, 23, 28, 0.1);
          box-shadow: 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.navBar .navBar__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar .navBar__left .navBar__brand {
  padding: 0 20px;
}

.navBar .navBar__left .navBar__brand img {
  width: 110px;
}

.navBar .navBar__left .navBar__Category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  font-size: 13px;
  font-weight: normal;
  color: #505763;
  cursor: pointer;
}

.navBar .navBar__left .navBar__input-group {
  background-color: #f2f3f5;
}

.navBar .navBar__left .navBar__input-group .form-control {
  background-color: transparent;
  border-color: transparent;
}

.navBar .navBar__left .navBar__input-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  border-top-color: #dee2e6;
  border-bottom-color: #dee2e6;
  border-left-color: #dee2e6;
}

.navBar .navBar__left .navBar__input-group .form-control:focus + .input-group-text {
  background-color: #fff;
  border-top-color: #dee2e6;
  border-bottom-color: #dee2e6;
  border-right-color: #dee2e6;
}

.navBar .navBar__left .navBar__input-group .form-control::-webkit-input-placeholder {
  color: #505763;
}

.navBar .navBar__left .navBar__input-group .form-control:-ms-input-placeholder {
  color: #505763;
}

.navBar .navBar__left .navBar__input-group .form-control::-ms-input-placeholder {
  color: #505763;
}

.navBar .navBar__left .navBar__input-group .form-control::placeholder {
  color: #505763;
}

.navBar .navBar__left .navBar__input-group .input-group-text {
  background-color: transparent;
  border-color: transparent;
  color: #ec5252;
}

.navBar .navBar__left .navBar__input-group .input-group-text:hover {
  color: #fff;
  background-color: #ec5252;
}

.navBar .navBar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar .navBar__right .nav-item {
  padding: 6px 0px;
  position: relative;
}

.navBar .navBar__right .nav-item .nav-link {
  font-size: 13px;
  font-weight: normal;
  color: #505763;
}

.navBar .navBar__right .nav-item:hover {
  background-color: rgba(20, 23, 28, 0.05);
}

.navBar .navBar__right .nav-item:hover .overlay::before {
  opacity: 1;
}

.navBar .navBar__right .nav-item .overlay {
  opacity: 0;
  position: absolute;
  width: 330px;
  padding: 20px;
  top: 115%;
  right: 0;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
          box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
}

.navBar .navBar__right .nav-item .overlay::before {
  position: absolute;
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border-left: 1px solid rgba(20, 23, 28, 0.05);
  border-top: 1px solid rgba(20, 23, 28, 0.05);
  background-color: #fff;
  top: -6%;
  right: 10%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navBar .navBar__right .nav-item__icon {
  padding: 15px 15px;
}

.navBar .navBar__right .nav-item__icon:hover {
  border-radius: 50%;
  padding: 15px 15px;
  background-color: rgba(20, 23, 28, 0.05);
}

.navBar .navBar__right .fa-shopping-cart {
  color: #505763;
  font-size: 20px;
}

.navBar .navBar__right .navBar__button .btn {
  border-radius: 0;
}

.navBar .navBar__right .navBar__button .navBar__button--red:hover {
  color: #fff;
  background-color: #521822;
  border: 1px solid #521822;
}

.navBar__button--white {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #686f7a;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #505763;
  background-color: transparent;
  padding: 11px 12px;
  cursor: pointer;
}

.navBar__button--red {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #ec5252;
  background-color: #ec5252;
  padding: 11px 12px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */