.banner {
    background: url(../../img/udemy-logo-semi-transparent.svg),
        linear-gradient(90deg, rgb(240, 100, 221), rgb(117, 80, 80));
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
    height: 325px;
}
