.banner {
    background: url(../../img/udemy-logo-semi-transparent.svg) 0/30% no-repeat,
        linear-gradient(61deg, $cl-15, $cl-11 41%);
    background-blend-mode: overlay;
    height: 325px;
    text-align: center;
    display: flex;
    align-items: center;
    h2 {
        @include textStyle($fz-36, $fw-nor, $bg-white-1);
    }
    p {
        @include textStyle($fz-15, $fw-nor, $bg-white-1);
        margin-bottom: 0;
    }
    button {
        margin: 10px 0;
    }
    .text-left {
        text-align: left;
    }
    .text-right {
        text-align: right;
    }
}
