.cover {
    background-image: url("../../img/cover.jpg");
    @include backgroundImg;
    height: 500px;
    position: relative;
    .cover__content {
        position: absolute;
        width: 500px;
        top: 50%;
        transform: translateY(-50%);
        left: 12.9%;
        & h2 {
            @include textStyle($fz-40, $fw-700, $cl-4);
        }
        p {
            @include textStyle($fz-18, $fw-nor, $cl-4);
        }
        @include formInputStyle($cl-4, $cl-4, $cl-4);
    }
}
