.footer {
    .footer__top {
        width: 90%;
        margin: 40px auto;
        .navbar-footer {
            height: 110px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 0;
            .nav-item {
                .nav-link {
                    @include textStyle($fz-13, $fw-nor, $cl-11);
                    padding: 0;
                }
                list-style: none;
                flex-basis: 25%;
            }
        }
        .btn-group {
            .dropdown-toggle {
                box-shadow: none;
                min-width: 160px;
                i {
                    margin-right: 5px;
                }
                &::after {
                    margin-left: 30%;
                }
                &:hover {
                    color: #29303b;
                    background-color: transparent;
                    border: 1px solid #29303b;
                }
            }
            .dropdown-menu {
                a {
                    font-size: $fz-13;
                }
            }
        }
    }

    .footer__bottom {
        width: 90%;
        margin: 30px auto;
        .line-height {
            line-height: 31px;
        }
        img {
            width: 110px;
            margin-right: 10px;
        }
        .logo--black {
            display: inline-block;
        }
        .logo--white {
            display: none;
        }
        .footer__bottom-link {
            li {
                list-style: none;
                text-align: right;
                a {
                    color: $cl-11;
                }
            }
        }
    }
}
