.navBar {
    box-shadow: 0 0 1px 1px $cl-3;
    box-shadow: 0 3px 1px 0 $cl-3;
    padding: 0.5rem 1rem;
    // NAVBAR LEFT
    .navBar__left {
        display: flex;
        align-items: center;
        .navBar__brand {
            padding: 0 $pd-20;
            img {
                width: 110px;
            }
        }
        .navBar__Category {
            display: flex;
            align-items: center;
            padding: 0 20px;
            @include textStyle($fz-13, $fw-nor, $cl-2);
            cursor: pointer;
        }
        @include formInputStyle($cl-5, $cl-4, $cl-9);
    }
    // NAVBAR RIGHT
    .navBar__right {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .nav-item {
            padding: $pd-5 + 1 $pd-10 - 10;
            position: relative;
            .nav-link {
                @include textStyle($fz-13, $fw-nor, $cl-2);
            }
            &:hover {
                background-color: $cl-13;
                .overlay {
                    display: block;
                }
            }
            .overlay {
                display: none;
                position: absolute;
                width: 330px;
                padding: $pd-20;
                top: 115%;
                right: 0;
                text-align: center;
                background-color: #fff;
                box-shadow: 0 4px 16px $cl-14;
                &::before {
                    position: absolute;
                    content: "";
                    display: block;
                    width: 13px;
                    height: 13px;
                    border-left: 1px solid $cl-13;
                    border-top: 1px solid $cl-13;
                    background-color: $cl-4;
                    top: -6%;
                    right: 10%;
                    transform: rotate(45deg);
                }
            }
        }
        .nav-item__icon {
            padding: $pd-15 $pd-15;
            &:hover {
                border-radius: 50%;
                padding: $pd-15 $pd-15;
                background-color: $cl-13;
            }
        }
        .fa-shopping-cart {
            color: $cl-2;
            font-size: $fz-24 - 4;
        }
        .navBar__button {
            display: flex;
            .btn {
                border-radius: 0;
            }
            .navBar__button--red {
                white-space: nowrap;
                &:hover {
                    @include buttonHover($cl-4, $cl-7, $cl-7);
                }
            }
            .navBar__button--white {
                white-space: nowrap;
                margin-right: 5px;
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1318.9px) {
    .navBar {
        .navBar__right {
            .nav-item-hide {
                .nav-link {
                    white-space: nowrap;
                    font-size: 12px;
                }
            }
        }
    }
}
// max-width: 1200px
@media screen and (max-width: 1199.9px) {
    .nav-item-hide {
        display: none;
    }
}
