.jobs {
    background-color: $cl-16;
    height: 210px;
    .jobs__items {
        text-align: center;
        padding: 20px;
        h3 {
            @include textStyle($fz-18 + 1, $fw-700, $cl-2);
        }
        p {
            font-size: 16px;
            margin: 0 138px 16px;
        }
        button {
            top: 100%;
            transform: translate(-50%, -50%);
        }
    }
}
