.students {
    padding: 32px 0;
    .students__content {
        .owl-carousel {
            .owl-stage-outer {
                margin-right: -2px;
            }
        }
        width: 90%;
        margin: 0 auto;
        h2 {
            font-size: $fz-24;
            margin-bottom: 20px;
        }
    }
}
