.SidebarMini {
    width: 400px;
    background-color: $cl-9;
    position: fixed;
    top: 25%;
    right: 0;
    z-index: 10;
    .SidebarMini__button {
        @include buttonStyle($cl-1, $fz-24, $fw-nor, $cl-17, $cl-17, 5px, 20px);
        border-radius: 8px 0 0 8px;
        position: absolute;
        transform: translateX(-100%);
        border: 0 solid $cl-17;
    }
    .SidebarMini__content {
        width: 150px;
        padding: 20px;
        text-align: center;
        h2 {
            font-size: $fz-15;
        }
        .switch {
            height: 25px;
            width: 50px;
            margin: 0 10px;
        }
    }
}
