@mixin textStyle($fz, $fw, $cl) {
    font-size: $fz;
    font-weight: $fw;
    color: $cl;
}

@mixin buttonStyle($cl, $fz, $fw, $br-cl, $bg-cl, $pd-y, $pd-x) {
    color: $cl;
    font-size: $fz;
    font-weight: $fw;
    border: 1px solid $br-cl;
    background-color: $bg-cl;
    padding: $pd-y $pd-x;
    cursor: pointer;
}

@mixin buttonHover($cl, $bg-cl, $br-cl) {
    color: $cl;
    background-color: $bg-cl;
    border: 1px solid $br-cl;
}

@mixin backgroundImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin formInputStyle($bg-cl, $bg-cl-fc, $br-cl) {
    .navBar__input-group {
        background-color: $bg-cl;
        border-radius: 5px;
        .form-control {
            background-color: transparent;
            border-color: transparent;
            &:focus {
                box-shadow: none;
                background-color: $bg-cl-fc;
                border-top-color: $br-cl;
                border-bottom-color: $br-cl;
                border-left-color: $br-cl;
            }
            &:focus + .input-group-text {
                background-color: $bg-cl-fc;
                border-top-color: $br-cl;
                border-bottom-color: $br-cl;
                border-right-color: $br-cl;
            }
            &::placeholder {
                color: $cl-2;
            }
        }
        .input-group-text {
            background-color: transparent;
            border-color: transparent;
            color: $cl-6;
            &:hover {
                color: $cl-4;
                background-color: $cl-6;
            }
        }
    }
}
