@mixin textStyle($fz, $fw, $cl) {
    font-size: $fz;
    font-weight: $fw;
    color: $cl;
}

@mixin buttonStyle($cl, $fz, $fw, $br-cl, $bg-cl, $pd-y, $pd-x) {
    color: $cl;
    font-size: $fz;
    font-weight: $fw;
    border: 1px solid $br-cl;
    background-color: $bg-cl;
    padding: $pd-y $pd-x;
    cursor: pointer;
}

@mixin buttonHover($cl, $bg-cl, $br-cl) {
    color: $cl;
    background-color: $bg-cl;
    border: 1px solid $br-cl;
}

@mixin backgroundImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
