// fontsize
$fz-13: 13px;
$fz-15: 15px;
$fz-18: 18px;
$fz-24: 24px;
$fz-36: 36px;
$fz-40: 40px;
$fz-50: 50px;

// lineheight
$lh-143: 1.43;

// background
$bg-white-1: #fff;

// color
$cl-1: #29303b;
$cl-2: #505763;
$cl-3: rgba(20, 23, 28, 0.1);
$cl-4: #fff;
$cl-5: #f2f3f5;
$cl-6: #ec5252;
$cl-7: #521822;
$cl-8: #686f7a;
$cl-9: #dee2e6;
$cl-10: #a1a7b3;
$cl-11: #007791;
$cl-12: #f4c150;
$cl-13: rgba(20, 23, 28, 0.05);
$cl-14: rgba(20, 23, 28, 0.25);
$cl-15: #6e1a52;
$cl-16: #f7f8fa;
// fontweight
$fw-nor: normal;
$fw-300: 300;
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;
// margin
$mg-10: 20px;
$mg-15: 25px;
$mg-5: 5px;
// padding
$pd-10: 10px;
$pd-15: 15px;
$pd-5: 5px;
$pd-20: 20px;
