// fontsize
$fz-1: 13px;
$fz-2: 15px;
$fz-3: 18px;
$fz-4: 24px;
$fz-5: 36px;
$fz-6: 40px;

// lineheight
$lh-1: 1.43px;

// background
$bg-white-1: #fff;

// color
$cl-1: #29303b;
$cl-2: #505763;
$cl-3: rgba(20, 23, 28, 0.1);
$cl-4: #fff;
$cl-5: #f2f3f5;
$cl-6: #ec5252;
$cl-7: #521822;
$cl-8: #686f7a;
$cl-9: #dee2e6;
$cl-10: #a1a7b3;
$cl-11: #007791;
$cl-12: #f4c150;
// fontweight
$fw-1: normal;
$fw-2: 300;
$fw-3: 400;
$fw-4: 600;
$fw-5: 700;
