* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: $fz-13;
    line-height: $lh-143;
    background-color: $bg-white-1;
    color: $cl-1;
}

a {
    text-decoration: none;
}
